@model string
@{
    ViewBag.Title = "Album Details";
}

<div ng-controller="AlbumViewController" ng-init="init('@Model')">
    <div class="album panel panel-primary">
        <!--  <div class="album panel panel-primary" ng-repeat="album in albums | multifieldfilter:{ title: searchFor } "> -->
        @*<div>
            {{album | json}}
        </div>*@

        <div class="panel-heading">
            <h4>{{ album.Name }}</h4>
            <div class="title">{{ album.AlbumDate }}</div>
        </div>
        <div class="panel-body">
            {{ album.Description }}
        </div>
    </div>

    <div style="clear: left"></div>
    
    <a href="ResourceUploader?albumName={{album.Name}}">
        <button type="button" class="btn btn-success">Add files to this album</button>
    </a>

    <md-autocomplete ng-disabled="false"
                     md-no-cache="true"
                     md-selected-item="selectedOption"
                     md-search-text="searchText"
                     md-items="item in options"
                     md-item-text="item.Key"
                     md-min-length="0"
                     placeholder="Search query?">
        <md-item-template>
            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.Value}}</span>
        </md-item-template>
        <md-not-found>
            No matches for "{{searchText}}" were found.
        </md-not-found>
    </md-autocomplete>

    <div style="clear: left"></div>

    <div class="photo thumbnail" ng-repeat="resource in album.Resources | limitTo:10" style="width: 400px; float: left; margin-right: 10px">

        <a href="resource/{{resource.Md5}}">
            @*<img width="400px" data-ng-src="{{'data:image/png;base64,'+getImage(resource.Md5)}}" />*@
            <img width="400px" src="/api/Resources/{{resource.Md5}}" />
            {{resource.OriginalFileName}}
        </a>
        <p> {{ photo.Description }} </p>
    </div>
    
    <div ng-if="album.Resources.length == 0">
        <p>There are no resources in this album.</p>
    </div>

    <div style="clear: left"></div>



</div>