html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

fieldset {
    margin: 10px 20px 10px 20px;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  vertical-align: bottom; }

body {
  line-height: 1; }

header, nav, section, footer {
  display: block; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: none; }
  ins table {
    border-collapse: collapse;
    border-spacing: 0; }
  ins ol, ins ul {
    list-style: none; }
  ins h1, ins h2, ins h3, ins h4, ins h5, ins h6, ins p, ins pre, ins address, ins dl, ins ol, ins ul, ins fieldset, ins table, ins hr {
    margin-bottom: 20px; }
  ins h1 {
    font-size: 25px; }
  ins h2 {
    font-size: 23px; }
  ins h3 {
    font-size: 21px; }
  ins h4 {
    font-size: 19px; }
  ins h5 {
    font-size: 17px; }
  ins h6 {
    font-size: 15px; }
  ins a:focus {
    outline: 1px dotted invert; }
  ins ol {
    list-style: decimal; }
  ins ul {
    list-style: square; }
  ins li {
    margin-left: 30px; }
  ins hr {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0; }

body {
  margin: 0;
  padding: 0;
  background-color: #06161e;
  font-family: Arial
  margin-bottom: 400px; }

.sitecontainer {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  position: relative; }

header {
  background-color: white; }

.contentbody {
  background: #105f79 repeat-y top center; }
  .contentbody .wrapper {
    display: inline-block;
    display: block; }
    .contentbody .wrapper:after {
      clear: both;
      content: ".";
      display: block;
      visibility: hidden;
      height: 0; }

.midcontentbody {
  background-color: white; }
  .midcontentbody .wrapper {
    display: inline-block;
    display: block; }
    .midcontentbody .wrapper:after {
      clear: both;
      content: ".";
      display: block;
      visibility: hidden;
      height: 0; }

.lowercontentbody {
  background: #0d3043 url(/images/lowercontentnoisebg.png) repeat top left; }
  .lowercontentbody .wrapper {
    display: inline-block;
    display: block; }
    .lowercontentbody .wrapper:after {
      clear: both;
      content: ".";
      display: block;
      visibility: hidden;
      height: 0; }

#fullcol {
  width: 95%;
  float: left;
  margin-top: 20px;
  padding-bottom: 40px; }

#fullcol ol, #fullcol ul.general-content {
  font-size: 14px;
  margin: 10px 20px 20px 20px;
  line-height: 18px;
}

#fullcol ol li {
  list-style-type: decimal;
  margin: 10px 0 10px 1em;
}

#fullcol ul.general-content li {
  list-style-type: disc;
  margin: 10px 0 10px 1em;
}

#maincol {
  width: 70%;
  float: left;
  margin-top: 20px;
  padding-bottom: 40px; }
  
#maincol ol, #maincol ul.general-content {
  font-size: 14px;
  margin: 10px 20px 20px 20px;
  line-height: 18px;
}

#maincol ol li {
  list-style-type: decimal;
  margin: 10px 0 10px 1em;
}

#maincol ul.general-content li {
  list-style-type: disc;
  margin: 10px 0 10px 1em;
}


#sidecol {
  width: 30%;
  float: right;
  background-color: #F8F8F8;
  margin-top: 20px;
  padding-bottom: 40px; }

footer {
  color: white; }

.enquire_btn a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: url(/images/buttonbg.jpg) repeat-x top left;
  padding: 15px 20px; }
  .enquire_btn a:hover {
    background: url(/images/buttonbg.jpg) repeat-x bottom left; }

.download_btn {
  margin: 40px 0 25px 20px; }
  .download_btn a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url(/images/greenbtnbg.jpg) repeat-x 0 0;
    -moz-box-shadow: 0px 1px 3px #888888;
    -webkit-box-shadow: 0px 1px 3px #888888;
    box-shadow: 0px 1px 3px #888888;
    padding: 8px 12px 8px 6px; }
    .download_btn a:hover {
      -moz-box-shadow: 0px 0 0 white;
      -webkit-box-shadow: 0px 0 0 white;
      box-shadow: 0px 0 0 white;
      background-position: 0 -20px; }
    .download_btn a span {
      background: url(/images/arrow_download.png) no-repeat center left;
      padding: 8px 10px;
      padding-left: 20px; }

.downloadlist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  display: block;
  margin: 0 0 0 20px; }
  .downloadlist:after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
    height: 0; }
  .downloadlist li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 20px;
    float: left; }
    .downloadlist li a {
      background: url(/images/arrow_list.png) no-repeat 0 0;
      padding: 0px 0 10px 20px; }
      


.index .lowercontentbody .downloadlist {
  margin: 10px 0 10px 0; }
  .index .lowercontentbody .downloadlist a {
    background-image: url(/images/arrow_list_dark.png); }
    .index .lowercontentbody .downloadlist a:hover {
      color: #aecc59; }

.twocol-dark #sidecol .downloadlist {
  margin: 0 0 0 0; }
  .twocol-dark #sidecol .downloadlist a {
    background-image: url(/images/arrow_list_dark.png); }
    .twocol-dark #sidecol .downloadlist a:hover {
      color: #aecc59; }

#slideshow .downloadlist {
  float: left;
  height: 40px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 10px; }
  #slideshow .downloadlist a {
    background: url(/images/arrow_list_white.png) no-repeat 0 11px;
    color: white;
    padding-top: 13px;
    display: block; }
    #slideshow .downloadlist a:hover {
      text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
      background: url(/images/arrow_list_dark.png) no-repeat 0 12px;
      color: #3b4812; }

.ctalist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  display: block;
  margin: 0 0 0 20px; }
  .ctalist:after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
    height: 0; }
  .ctalist li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 20px;
   }
    .ctalist li a {
      background: url(/images/arrow_list.png) no-repeat 0 0;
      padding: 0px 0 10px 20px; }
      


.index .lowercontentbody .ctalist {
  margin: 10px 0 10px 0; }
  .index .lowercontentbody .ctalist a {
    background-image: url(/images/arrow_list_dark.png); }
    .index .lowercontentbody .ctalist a:hover {
      color: #aecc59; }

.twocol-dark #sidecol .ctalist {
  margin: 0 0 0 0; }
  .twocol-dark #sidecol .ctalist a {
    background-image: url(/images/arrow_list_dark.png); }
    .twocol-dark #sidecol .ctalist a:hover {
      color: #aecc59; }

#slideshow .ctalist {
  float: left;
  height: 40px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 10px; }
  #slideshow .ctalist a {
    background: url(/images/arrow_list_white.png) no-repeat 0 11px;
    color: white;
    padding-top: 13px;
    display: block; }
    #slideshow .ctalist a:hover {
      text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
      background: url(/images/arrow_list_dark.png) no-repeat 0 12px;
      color: #3b4812; }

.video_btn {
  margin: 0 14px 25px 2px; }
  .video_btn a {
    display: inline-block;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url(/images/greenbtnbg.jpg) repeat-x 0 0;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    padding: 8px 12px 8px 6px; }
    .video_btn a:after {
      clear: both;
      content: ".";
      display: block;
      visibility: hidden;
      height: 0; }
    .video_btn a img {
      float: left;
      margin: 5px;
      -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4); }
    .video_btn a span {
      float: right;
      width: 215px; }
      .video_btn a span h3 {
        margin: 0;
        padding: 0;
        margin-top: 5px; }
      .video_btn a span p {
        margin: 0;
        padding: 0;
        margin-top: 5px;
        text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.3); }
    .video_btn a:hover {
      -moz-box-shadow: 0px 0 0 white;
      -webkit-box-shadow: 0px 0 0 white;
      box-shadow: 0px 0 0 white;
      background-position: 0 -50px; }

.bullets {
  margin: 40px 20px 40px 0; }
  .bullets h2 {
    margin: 0;
    padding: 0;
    font-size: 21px; }
.bullets ul {
  margin: 0;
  padding: 0;
  list-style: none; }
    .bullets ul li {
      margin: 0;
      padding: 0;
      list-style: none;
      background: url(/images/list_bullet.png) no-repeat 0 12px;
      padding: 10px 15px;
      border-top: 1px solid rgba(255, 255, 255, 0.9);
      border-bottom: 1px solid rgba(0, 0, 0, 0.08); }
      .bullets ul li.first {
        border-top-style: none; }

.seemore {
  display: block;
  margin: 10px 0 20px 0;
  background: url(/images/more_less_bullet.png) no-repeat 0 0;
  padding: 0 0 5px 20px; }

img.screenshot {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  background-color: white;
  padding: 6px; }

img.left {
  float: left;
  margin: 30px 20px 10px 20px; }

#slideshow img {
  display: block; }

header {
  height: 150px; }
  header #logo {
    clear: right;
    float: left;
    margin-top: 20px;
    margin-left: 20px; }
    header #logo a {
      background: url(/images/logo.png) no-repeat 0 0;
      width: 255px;
      height: 80px;
      display: block;
      background-size: contain;
      text-indent: -1000em;
      line-height: 1000em;
      overflow: hidden; }
  header nav {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: right;
    background: #eaf1f4 url(/images/navbg.jpg) no-repeat center center;
    padding-top: 20px;
    padding-right: 15px;
    margin-top: -30px; }
    header nav ul.sf-menu {
      margin: 0;
      padding: 0;
      list-style: none; }
      header nav ul.sf-menu li {
        margin: 0;
        padding: 0;
        list-style: none;
        float: left;
        margin-left: 20px;
        padding: 15px 0;
        font-size: 11px;
        position: relative; }
        header nav ul.sf-menu li ul {
          -webkit-border-top-left-radius: 0;
          -webkit-border-top-right-radius: 0;
          -webkit-border-bottom-right-radius: 5px;
          -webkit-border-bottom-left-radius: 5px;
          -moz-border-radius-topleft: 0;
          -moz-border-radius-topright: 0;
          -moz-border-radius-bottomright: 5px;
          -moz-border-radius-bottomleft: 5px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
          -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
          background: -moz-linear-gradient(top, #d4dfe3 0%, #eaf1f4 7%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d4dfe3), color-stop(7%, #eaf1f4));
          background: -webkit-linear-gradient(top, #d4dfe3 0%, #eaf1f4 7%);
          background: -o-linear-gradient(top, #d4dfe3 0%, #eaf1f4 7%);
          background: -ms-linear-gradient(top, #d4dfe3 0%, #eaf1f4 7%);
          background: linear-gradient(top, #d4dfe3 0%, #eaf1f4 7%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1cdd1', endColorstr='#eaf1f4',GradientType=0 );
          background-color: #eaf1f4;
          margin: 14px 0 0 -9px;
          padding: 0; }
          header nav ul.sf-menu li ul li {
            border-top: 1px solid white;
            margin: 0;
            padding: 8px 0 12px 0; }
            header nav ul.sf-menu li ul li:first-child {
              border-top-style: none; }
            header nav ul.sf-menu li ul li a {
              padding-left: 10px; }
            header nav ul.sf-menu li ul li li {
              float: none;
              border-top: 1px solid white;
              margin: 0;
              padding: 10px; }
  header .enquire_btn {
    float: right;
    margin-top: 50px;
    margin-right: 20px; }
    header .enquire_btn a {
      color: white;
      -moz-box-shadow: 0px 1px 3px #888888;
      -webkit-box-shadow: 0px 1px 3px #888888;
      box-shadow: 0px 1px 3px #888888; }
      header .enquire_btn a:hover {
        -moz-box-shadow: 0px 0 0 white;
        -webkit-box-shadow: 0px 0 0 white;
        box-shadow: 0px 0 0 white; }

h1 {
  padding: 22px 0;
  background: #e5ebed url(/images/pagetitlebg.jpg) repeat-x top center; }
  h1 .wrapper {
    width: 85%;
    }
  h1 .arrow {
    position: absolute;
    bottom: -37px;
    left: 40px;
    width: 31px;
    height: 15px;
    background: transparent url(/images/arrow.png) top center;
    z-index: 100; }

.index h1 .wrapper {
  width: 940px; }

.lightsidecol {
  background: #fefffe }

.darksidecol {
  background: #fefffe url(/images/darksidecolbg.jpg) repeat-y top right; }

.partners ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .partners ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 50%;
    color: #24728c; }
    .partners ul li img {
      margin: 20px 20px 10px 20px;
      margin-bottom: 0; }
    .partners ul li p {
      margin-top: 5px; }

.index .partners li {
  width: auto;
  height: 60px; }
  .index .partners li img {
    margin: 0 10px; }

#slideshow {
  height: 350px;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  #slideshow .slide2, #slideshow .slide3 {
    display: none; }
  #slideshow .slide1, #slideshow .slide2, #slideshow .slide3 {
    position: relative; }
  #slideshow .cta {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    z-index: 2;
    position: absolute;
    height: 40px;
    width: 500px;
    background: #7b9926;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdjOTkyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YTg0MWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #7c9927 0%, #6a841b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7c9927), color-stop(100%, #6a841b));
    background: -webkit-linear-gradient(top, #7c9927 0%, #6a841b 100%);
    background: -o-linear-gradient(top, #7c9927 0%, #6a841b 100%);
    background: -ms-linear-gradient(top, #7c9927 0%, #6a841b 100%);
    background: linear-gradient(top, #7c9927 0%, #6a841b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c9927', endColorstr='#6a841b',GradientType=0 );
    top: 20px;
    left: 20px; }
    #slideshow .cta p {
      float: left;
      color: white;
      font-size: 18px;
      margin: 0;
      padding: 10px 0 5px 38px;
      background: transparent url(/images/slide_icons.png) no-repeat 5px 6px; }
  #slideshow .slide1 .cta {
    left: 35px;
    top: 35px;
    width: 550px; }
    #slideshow .slide1 .cta p {
      background-position: 5px 6px; }
  #slideshow .slide2 .cta {
    left: 35px;
    top: 35px;
    width: 500px; }
    #slideshow .slide2 .cta p {
      background-position: 5px -34px; }
  #slideshow .slide3 .cta {
    left: 353px;
    top: 35px;
    width: 485px; }
    #slideshow .slide3 .cta p {
      background-position: 5px -74px; }
  #slideshow #pagedots {
    position: absolute;
    left: 456px;
    top: 330px;
    z-index: 3;
    width: 48px;
    height: 10px;
    background: transparent url(/images/page_dots.png) no-repeat 0 0; }

.caselist {
  margin-top: 24px; }
  .caselist ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .caselist ul li {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block;
      display: block;
      clear: both;
      border-bottom: 1px solid #e3e9ec;
      margin: 20px 5px 0 20px;
      padding-bottom: 10px; }
      .caselist ul li:after {
        clear: both;
        content: ".";
        display: block;
        visibility: hidden;
        height: 0; }
      .caselist ul li .year {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 12px; }
      .caselist ul li h3 {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 14px; }
        .caselist ul li h3 a {
          color: #00547b;
          text-decoration: none; }
          .caselist ul li h3 a:hover {
            color: #7b9926; }
      .caselist ul li .description {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 14px; }
      .caselist ul li img {
        float: left;
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        background-color: white;
        padding: 6px;
        margin: 0 10px 10px 0; }
      .caselist ul li div {
        float: left;
        width: 270px; }
      .caselist ul li li {
        border-bottom-style: none;
        margin: 10px 0 0 0; }

#sidecol .caselist {
  margin-top: 20px; }
  #sidecol .caselist ul li {
    margin: 20px 10px 0 0;
    padding-bottom: 10px; }
    #sidecol .caselist ul li img {
      float: none;
      margin: 0 10px 10px 0; }
    #sidecol .caselist ul li div {
      width: auto; }
    #sidecol .caselist ul li:first-child {
      margin-top: 0; }
    #sidecol .caselist ul li ul {
      margin: 10px 0 0 0; }

.casedetail {
  margin-top: 24px;
  margin-bottom: 20px; }
  .casedetail img {
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    background-color: white;
    padding: 6px;
    margin: 0px 10px 10px 20px; }
  .casedetail .year {
    font-size: 12px;
    margin: 0 0 0 20px; }
  .casedetail h3 {
    font-size: 14px;
    color: #7b9926;
    margin-top: 0; }
  .casedetail ul {
    font-size: 14px;
    margin: 10px 20px 20px 20px;
    line-height: 18px;
  }  
  .casedetail ul li {
    list-style: disc;
    margin: 10px 0 10px 1em;
  }  

.process {
  display: inline-block;
  display: block;
  margin: 0 0 40px 20px; }
  .process:after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
    height: 0; }
  .process div {
    background: url(/images/processarrow.png) no-repeat 148px 100px;
    width: 35%;
    float: left; }
    .process div.last {
      background-image: none;
      width: 30%; }

.gallery img.current {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  background-color: white;
  padding: 6px;
  margin: 0 0 14px 2px; }
.gallery ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  display: block;
  margin-left: 2px; }
  .gallery ul:after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
    height: 0; }
  .gallery ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left; }
    .gallery ul li a {
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      background-color: white;
      padding: 3px;
      margin: 0 10px 10px 0;
      display: block; }
      .gallery ul li a.selected, .gallery ul li a:hover {
        -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
        background-color: white;
        padding: 3px; }
      .gallery ul li a img {
        display: block; }

.sectorlist {
  margin: 24px 20px 20px 10px; }
  .sectorlist ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .sectorlist ul li {
      margin: 0;
      padding: 0;
      list-style: none;
      border-bottom: 1px solid #00436a;
      padding-bottom: 15px;
      margin: 20px 0 10px 0;
      color: #5990a9; }
      .sectorlist ul li ul li {
        border-bottom-style: none; }

.clientlist {
  margin: 24px 20px 20px 10px; }
  .clientlist ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .clientlist ul li {
      margin: 0;
      padding: 0;
      list-style: none;
      padding-bottom: 15px;
      margin: 10px 0 10px 0;
      color: #8cc3dc;
      font-size: 14px; }

.testlist ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .testlist ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    background: url(/images/testquote.png) no-repeat 10px 30px;
    border-top: 1px solid #00436a;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: 20px; }
    .testlist ul li p {
      text-indent: 40px;
      padding-top: 12px;
      margin-left: 10px;
      margin-top: 20px;
      line-height: 20px;
      color: #5990a9; }
      .testlist ul li p.credit {
        text-indent: 0;
        font-size: 12px;
        font-style: italic;
        color: #8cc3dc;
        padding-top: 0;
        margin-top: 0;
        line-height: 110%; }

.casestudies .testlist {
  margin-top: 24px; }
  .casestudies .testlist li:first-child {
    border-top-style: none;
    padding-top: 0;
    margin-top: 0;
    background-position: 10px 0; }

.contacts {
  margin: 20px 20px 10px 20px; }
  .contacts ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .contacts ul li {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 10px;
      padding-top: 20px;
      border-top: 1px solid #e3e9ec; }
      .contacts ul li h3 {
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: #00547b; }
      .contacts ul li p {
        margin: 0;
        padding: 0; }
      .contacts ul li .telephone {
        font-size: 21px;
        font-weight: bold;
        color: #00547b;
        margin: 10px 0 10px 0; }
      .contacts ul li:first-child {
        border-top-style: none;
        padding-top: 0; }

footer .enquire_btn {
  float: left;
  margin-top: 50px; }
  footer .enquire_btn a {
    background-image: url(/images/buttonbgbottom.jpg);
    padding: 15px 20px;
    color: #24728c; }
    footer .enquire_btn a:hover {
      background-image: url(/images/buttonbgbottom.jpg);
      background-position: bottom left; }
footer p {
  float: left;
  margin: 0 0 0 10px;
  padding: 30px 0; }
footer nav {
  float: right;
  margin-top: 20px;
  padding-right: 15px; }
  footer nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    footer nav ul li {
      margin: 0;
      padding: 0;
      list-style: none; }
    footer nav ul.levelone li {
      float: left;
      border-left: 1px solid #003259;
      padding: 5px 10px 5px 10px; }
      footer nav ul.levelone li:first-child {
        border-left-style: none; }
    footer nav ul.leveltwo li {
      float: none;
      border-left-style: none;
      padding: 10px 0 0 0; }

form {
  margin: 20px 0 20px 20px; }
  form label {
    color: #24728c;
    font-size: 13px;
    font-weight: bold;
    display: block; }
  form input[type="text"], form textarea {
    -moz-box-shadow: inset 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
    background-color: #eef4f6;
    border-style: none;
    width: 90%;
    height: 30px;
    display: block;
    margin: 10px 0 20px 0; }
    form input[type="password"]{
    -moz-box-shadow: inset 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
    background-color: #eef4f6;
    border-style: none;
    width: 400px;
    height: 30px;
    display: block;
    margin: 10px 0 20px 0; }
    form form textarea {
    -moz-box-shadow: inset 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
    background-color: #eef4f6;
    border-style: none;
    width: 90%;
    height: 30px;
    display: block;
    margin: 10px 0 20px 0; }
    form select {
    -moz-box-shadow: inset 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
    background-color: #eef4f6;
    border-style: none;
    width: 400px;
    height: 30px;
    display: block;
    margin: 10px 0 20px 0; 
    }
    form table select {
    display:inline-block;
    }
  form textarea {
    height: 150px; }

  #testList select{
    display:inline-block;
    width:initial;
    height:initial;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
  }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4c4c4c; }

h1 {
  font-family: 'Jura' !important;
  font-style:  normal;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: #24728c; }
  h1 span.green {
    color: #7b9926; }

h2 {
  font-size: 18px;
  color: #00547b;
  line-height: 22px;
  margin: 20px 20px 10px 20px; }

h3 {
  font-size: 14px;
  margin: 20px 20px 10px 20px;
  margin-bottom: 0;
  line-height: 18px; }

h4 {
  font-size: 16px;
  color: #7b9926;
  margin: 20px 20px 10px 20px; }

.process h4 {
  text-transform: uppercase;
  margin-left: 0; }

h5 {
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase; }

#sidecol h5 {
  font-family: 'Jura', sans-serif;    
  color: #5990a9;
  margin-bottom: 30px; }
#sidecol .caselist h5 {
  margin-bottom: 20px; }

#maincol h5 {
  font-family: 'Jura', sans-serif;
  color: #5990a9;
  border-bottom: 1px solid #999999;
  padding-bottom: 10px;
  margin: 30px 20px 10px 20px;
  border-bottom: 1px solid #e3e9ec; }

p {
  font-size: 14px;
  margin: 10px 20px 10px 20px;
  line-height: 18px; }

.selected {
    background-color:lightgray;
    font-weight:bold;
}

.pInForm {
  font-size: 14px;
  margin: 10px 20px 10px 1px;
  line-height: 18px; }

.sectorlist h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #aee5fe; }
.sectorlist p {
  margin: 0;
  padding: 0;
  color: #5990a9; }

.lowercontentbody h3 {
  margin: 0;
  padding: 0;
  color: #5990a9;
  border-bottom: 1px solid #265d76;
  padding: 30px 0 5px 0;
  margin-bottom: 10px;
  margin-right: 20px; }
.lowercontentbody h4 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
  margin-right: 20px; }
  .lowercontentbody h4 span {
    display: block;
    font-size: 11px;
    margin-top: 5px; }
.lowercontentbody p {
  margin: 0;
  padding: 0;
  color: #abb3cc;
  font-size: 12px;
  margin-right: 20px; }

.lowercontentbody #maincol h3, .lowercontentbody #maincol h4, .lowercontentbody #maincol p, .lowercontentbody #maincol .ctalist {
  margin-left: 20px; }

.lowercontentbody #fullcol h3, .lowercontentbody #fullcol h4, .lowercontentbody #fullcol p, .lowercontentbody #fullcol .ctalist {
  margin-left: 20px; }

footer p {
  font-size: 12px;
  color: #02506a; }
footer a {
  color: #24728c;
  text-decoration: none;
  font-size: 11px; }
  footer a:hover {
    color: #57a5bf; }

.process p {
  font-size: 12px;
  line-height: 18px;
  color: #888888;
  width: 150px;
  margin: 10px 0 0 5px; }

header nav {  
  font-style:  normal;
  font-weight: 600;
  text-transform: uppercase; }
  header nav a {
    color: #00547b;
    text-decoration: none; }
    header nav a:hover, header nav a.current {
      color: #7b9926; }

.enquire_btn a {
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none; }
  .enquire_btn a:hover {
    background-color: #7b9926; }

.download_btn a {
  font-size: 14px;
  color: #e3e9ec;
  text-decoration: none; }
  .download_btn a:hover {
    color: white; }

.ctalist a {
  font-size: 13px;
  font-weight: bold;
  color: #7b9926;
  text-decoration: none; }
  .ctalist a:hover {
    color: #486600; }

  .downloadlist a {
  font-size: 13px;
  font-weight: bold;
  color: #7b9926;
  text-decoration: none; }
  .downloadlist a:hover {
    color: #486600; }

.video_btn {
  margin-top: 24px; }
  .video_btn a {
    text-decoration: none; }
    .video_btn a h3 {
      color: white;
      font-size: 16px;
      font-weight: normal; }
    .video_btn a p {
      color: #333333;
      font-size: 12px;
      line-height: 14px; }

.bullets ul li {
  font-size: 14px;
  color: #24728c; }
.bullets ul .hide {
  display: none; }

.general-content ul {
  font-size: 14px;
  margin: 10px 20px 20px 20px;
  line-height: 18px;
}  
.general-content ul li {
  list-style: disc;
  margin: 10px 0 10px 1em;
}  


.seemore {
  font-size: 13px;
  font-weight: bold;
  color: #7b9926;
  text-decoration: none; }
  .seemore:hover {
    color: #486600; }

a {
  color: #7B9926;
}

a:hover {
  color: #00547B;
}

hr {
  border: 0;
  border-top: 1px solid #e3e9ec;
  margin: 10px 20px; }

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

label {
    /*float:left;*/
    display:block;
    clear:left;
    /*width:150px*/
}


textarea {
    /*float:left;*/
    width: 100%;
}

        /*** sample table to demonstrate CSS3 formatting ***/
        table.formatHTML5 {
            width: 100%;
            max-width: 100%;
            overflow: scroll;
            border-collapse:collapse;
            text-align:left;
            color: #606060;
        }
 
        /*** table's thead section, head row style ***/
        table.formatHTML5 thead tr td  {
            background-color: White;
            vertical-align:middle;
            padding: 0.6em;
            font-size:0.8em;
        }
 
        /*** table's thead section, coulmns header style ***/
        table.formatHTML5 thead tr th
        {
            padding: 0.5em;
            /* add gradient */
            background-color: #808080;
            background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#909090));
            background: -moz-linear-gradient(top, #606060, #909090);
            color: #dadada;
        }
 
        /*** table's tbody section, odd rows style ***/
        table.formatHTML5 tbody tr:nth-child(odd) {
           background-color: #fafafa;
        }
 
        /*** hover effect to table's tbody odd rows ***/
        table.formatHTML5 tbody tr:nth-child(odd):hover
        {
            cursor:pointer;
            /* add gradient */
            background-color: #808080;
            background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#909090));
            background: -moz-linear-gradient(top, #606060, #909090);
            color: #dadada;
        }
 
        /*** table's tbody section, even rows style ***/
        table.formatHTML5 tbody tr:nth-child(even) {
            background-color: #efefef;
        }
 
        /*** hover effect to apply to table's tbody section, even rows ***/
        table.formatHTML5 tbody tr:nth-child(even):hover
        {
            cursor:pointer;
            /* add gradient */
            background-color: #808080;
            background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#909090));
            background: -moz-linear-gradient(top, #606060, #909090);
            color: #dadada;
        }
 
       /*** table's tbody section, last row style ***/
        table.formatHTML5 tbody tr:last-child {
             border-bottom: solid 1px #404040;
        }
 
        /*** table's tbody section, separator row pseudo-class ***/
        table.formatHTML5 tbody tr.separator {
            /* add gradient */
            background-color: #808080;
            background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#909090));
            background: -moz-linear-gradient(top, #606060, #909090);
            color: #dadada;
        }
 
        /*** table's td element, all section ***/
        table.formatHTML5 td {
           vertical-align:middle;
           padding: 0.5em;
        }
 
        /*** table's tfoot section ***/
        table.formatHTML5 tfoot{
            text-align:center;
            color:#303030;
            text-shadow: 0 1px 1px rgba(255,255,255,0.3);
        }

.border {
  border: 2px solid #009;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
}


.ui-dialog {
     overflow: visible !important; 
}

legend {
  display: block;
  margin-left: 3px;
  padding-top: 2px;
  text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.75);
  font-family:Verdana, Geneva, sans-serif;
  font-size:.9em;
}

.modal { overflow: visible; }
.modal-body { overflow-y: visible; }

body { background-color: #eeeeee !important; padding: 0; margin: 5px !important; overflow-y: scroll; }