@{
    ViewBag.Title = "My Journal";
}

<h1>
    <div class="wrapper">
        Your Journal
        <div class="arrow"></div>
    </div>
</h1>

<div class="contentbody">
    <div class="wrapper lightsidecol">
        <div id="maincol">
            <p class="lead">
                Welcome to your Journal. This is a place where you can document and diarise your life's memories.
            </p>
            <p>
                If you do not yet have a login, please click on the 'contact us' button above to open dialog.
            </p>

        </div>
        <div id="sidecol">
            <div class="row">
                <div class="col-md-4">
                    <h2>Get Started</h2>
                    <p>hello</p>
                    @*<p>@Html.ActionLink("Create", "Create", "Projects")</p>*@
                </div>
                <div class="col-md-4">
                    <h2>Projects</h2>
                    <p>
                        Review the details of your projects. Requires login.
                    </p>
                    @*<p>@Html.ActionLink("My Projects", "Index", "Projects")</p>
                    <p>@Html.ActionLink("Projects Pending Approval", "Pending", "Projects")</p>*@
                </div>
            </div>
        </div>
    </div>
</div>